<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Agenda</title>
        <link rel="stylesheet"
              type="text/css"
              href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
              integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
              crossorigin="anonymous" />
        <
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
            .title {
                color: #f3f3f3;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 600;
                font-size: 40px !important;
                line-height: 47px;
            }
        </style>
    </head>
    <body style="background: linear-gradient(360deg, rgba(5, 25, 55, 0.9) 0.73%, rgba(168, 235, 18, 0.8) 100%);">
        <main class="container">
            <section class="row">
                <h1 class="title text-lg">My Book</h1>
            </section>
        </main>
    </body>
</html>